
<div class="Container" style="background-image: url(/assets/bg2.png);background-repeat: no-repeat;background-size: cover;height: 630px;">
 <app-navbar></app-navbar>  
<div class="container-fluid px-4 py-5 my-5 text-center">
   
	<div class="lc-block d-block mx-auto mb-4">
		
        <img class="icon"src="/assets/logo.png" alt="">
	</div>
	<div class="lc-block">
		<div editable="rich">

			<h2 class="display-5 fw-bold">Finances at Your <br> <span class="color-text">FINGER </span>
				TIPS</h2>

		</div>
	</div>
	<div class="lc-block col-lg-6 mx-auto mb-4">
		
	</div>

	
</div>
</div>