

<nav class="navbar navbar-light navbar-expand navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">
            <picture><img src="assets/logo.png" style="height: 70px;"></picture>
        </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#" style="background: #151515;border-radius: 10px;color: rgb(255,255,255);padding-right: 1rem;">Koketso&nbsp;<picture><img src="assets/img/2289_SkVNQSBGQU1PIDEwMjgtMTIy.jpg" style="height: 30px;"></picture></a></li>
            </ul>
        </div>
    </div>
  </nav>
<br>
<div class="container-fluid">
  <div class="container" style="background: #CFBD1C;height: 600px;">
    <br>

    <div class ="heading" style="font-weight:bolder;font-size:x-large;">
      Invoices  <button type="button" style="border: none;background-color: transparent"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus" ></i>
      </button>
    </div>
    <br>

    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Invoice</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="invoicePostForm" (ngSubmit)="onSubmit(invoicePostForm)">
         
           
         <div class="clientName">
             Client 
            <div class="Input"> <input type="text"
                    class="form-control"
                    id="client"
                    formControlName="client">
                   
              </div>      
        </div>
       
     
        <div class="descrTitl">
          Service 
           <div class="descInfo"> 
            <textarea name="serviceDescription"
                     id="Description" 
                     class="form-control"
                     formControlName="service"
                     cols="30" rows="10" minlength="10" required > </textarea>
            </div>
           </div>

           <div class="clientName">
            Amount 
           <div class="Input"> <input type="number"
                   class="form-control"
                   id="client"
                   formControlName="amount">

             </div>      
       </div>
         <!-- Post Inputs-->
        


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-secondary" [disabled]="invoicePostForm.invalid">Add</button>
        </div>
    </form>
      </div>

    </div>
  </div>
</div>

<div class="tablebeg " style="height: 600px;overflow: scroll;">
        
  <table class="table  rounded" style="background-color: gray;color: white;" >
      <thead class="thead-inverse ">
          <tr>
              
              <th class="hed2" style="background-color: black;">InvoiceNo</th>
              <th class="hed3"style="background-color: black;">Client</th>
              <th class="hed3"style="background-color: black;">Service</th>
              <th class="hed3"style="background-color: black;">Amount</th>
              <th class="hed3"style="background-color: black;">Status</th>
              
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let inv  of invoice"> 

                <td class="desc" scope="row">{{inv.invoice_id}}</td>
                  <td class="desc" scope="row">{{inv.client}}</td>
                  <td class="desc" scope="row">{{inv.service}}</td>
                  <td class="desc" scope="row">{{inv.amount}}</td>
                  <td class="status" scope="row">
                    <select class="form-select form-select-sm" #status >
                      <option value="In Progress">Pending</option>
                      <option value="Completed">Paid</option>
                    </select>


                  </td>
                 
              </tr>
             
          </tbody>
  </table>
  
  
  </div>
  
  </div>
</div>
