<div class = "container">
    
       <div class="profile ">
        <nav class="navbar navbar-light bg-light">
            <div class="navbar">
              
                <div class="empty-div">

                </div>

                 <div class="name-and-pic">
                        <p>Koketso</p>

                        <i class="bi bi-laptop"></i>

                </div>   
              
            </div>
          </nav>

           <div class = "icon">
              <img width="78" height="70" src="/assets/logo.png" alt="">
            </div>
       </div>
      

    


    <div>middle>

       <button class="button">Create Invoice</button>

    </div>

    <br>

    <div class = "bottom">

        <div class = "heading">
            Stats...
          </div>

        <div class = "row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 justify-content-center">

          
            <div class="col mb-4">
              
                <div class="card">
        
                    <div class="card-body">
                      <h5 class="card-title">Clients</h5>
                      <h6 class="num">2</h6>
                     
                    </div>
                    
                  </div>
        
            </div>

          <div class="col mb-4">
            <div class="card " >

                <div class="card-body">
                  <h5 class="card-title">Invoices</h5>
                  <h6 class="num">1</h6>
                 
                </div>
                
              </div>
    
        </div>

        

        </div>

</div>
