//body{background-color:#FFEBEE}
.card{width:400px;background-color:#fff;border:none;border-radius: 12px}

.form-control{
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: #CFBD1C;
    color:black
}
.information{
    padding-top: 20px;
    padding-bottom: 20px;
}

